.tableName{
	text-align: center;
	font-size: 150%;

}

.probeDashboardTable{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	text-align: center;
}

.row{
	border-bottom: 1px solid #000000;
}

.tableHeader, .tableBody{
	background-color: #dddddd;
	border: 3px solid #000000;
}

th, td{
	height: 20px;
	border-right: 1px solid #000000;
	padding-left: 1%;
	padding-right: 1%;

}

td{
	height: 20px;
	text-align: center;
}

.cell{
	cursor: pointer;
	user-select: none;
	background-color: #dddddd;
}

.clickedCell{
	cursor: pointer;
	user-select: none;
	background-color: #00ff00;
}

.createProbeDiv{
	padding-top: 1%;

	margin-left: auto;
	margin-right: auto;

	width: 10%;
}

.createProbeButton{
	width: 100%;
}

