.tableName{
	text-align: right;
	
	margin: 0;
	margin-top: 2vh;

	width: 30vw;
}

table{
	border-style: solid;
	border-radius: 5px;
}

th, td{
	border: 1px solid;
}

.selectedRow{
	background-color: #ff0000;
}

.tableActions, .tableConfigurations{
	align-items: center;
	text-align: center;
	width: 35vw;
	
	background-color: #eeeeee;
	margin-left: 35vw;

	overflow: auto;
}

.buttonAction{
	margin-left: 48vw;
	margin-top: 1vw;
	height: 25px;
}

.buttonActionText{
	margin: 0;
	font-size: 15px;
}

.row, .selectedRow{
	cursor: pointer;
}

.inputKey, .inputDomain, .inputActuator{
	margin: 0;
    padding: 0;
    padding-left: 2px;
    border-width: 1px;
    border: 1px rgb(169, 169, 169) solid;

	height: 20px;
	width: 295px;
}

.inputDomain, .inputActuator{
	width: 300px;
}


